.tasks-container {
    padding: 3.125rem 5.3125rem 3.75rem;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    height: 100vh;

    @media (max-width: 1024px) {
        max-width: 60%;
    }

    @media (max-width: 768px) {
        padding: 30px;
        max-width: 100%;
    }

    h2 {
        margin-bottom: 1.5rem;
    }

    h3 {
        font-size: 1.125rem;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(262.71deg,
                #00d1ff -30.04%,
                #00ffa3 124.74%);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .tasks-list {
        overflow-y: auto;
        margin-top: 28px;
    }


    .last-tasks {
        flex: 1;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;

        h3 {
            margin-bottom: 1.125rem;
        }
    }

    .completed-tasks {
        flex: 1;
        padding-top: 1.75rem;



    }

    .tasks-list {
        margin-top: 1.75rem;
        overflow-y: scroll;
    }

}