.tasks-container {
    padding: 3.125rem 5.3125rem 3.75rem;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    height: 100vh;

    h2 {
        margin-bottom: 1.5rem;
    }

    h3 {
        font-size: 1.125rem;
    }

    .last-tasks {
        flex: 1;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;

        h3 {
            margin-bottom: 1.125rem;
        }
    }

    .completed-tasks {
        flex: 1;
        padding-top: 1.75rem;



    }

    .tasks-list {
        margin-top: 1.75rem;
        overflow-y: auto;
    }

}