$background-color: linear-gradient(259.93deg, #000000 -41.68%, #00171f 146.85%);
$primary-text-color: #ffffff;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Archivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: $background-color;
  color: $primary-text-color;
}

.app-container {
  display: flex;
}